/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark-blue: #283136;
  --basic-light-gray: #EEEEEE;
  --basic-dark-gray: #666666;
  --basic-gray: #444444;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-white: #FFFFFF;
}

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}
.page a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Main navigation */

.main-navigation {
  display: block;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
}
.main-header-logo {
  width: 159.87px;
  height: 65.02px;
  margin-top: 48.98px;
  z-index: 100;
}
.main-logo:active {
  opacity: 0.3;
}
.main-navigation-wrapper {
  display: block;
  padding-right: 45.13px;
}
.main-navigation-wrapper,
.main-cart {
  margin-top: 75px;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 437px;
  margin: 0;
  padding: 0;
}
.navigation-item {
  display: inline-block;
  position: relative;
}
.active-item::before {
  content: "";
  position: absolute;
  background: var(--basic-red);
  height: 2px;
  width: 100%;
  bottom: -15px;
  z-index: 100;
}
.navigation-item a:hover,
.main-cart a:hover {
  color: var(--basic-red);
}
.navigation-item a:active,
.main-cart a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
/* cart */

.site-navigation a,
.cart a {
  color: var(--basic-black);
}
.main-cart a {
  display: block;
  text-decoration: none;
  color: var(--basic-black);
  line-height: 30px;
}
.cart {
  display: block;
  position: relative;
  padding-left: 40px;
}
.cart::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 7px;
  left: 0;
  background: url(../img/cart-icon.svg);
}
/* header background */

.main-header {
  width: 100%;
  background-color: var(--basic-light-gray);
  text-transform: uppercase;
}
/* slider */
.slider {
  position: relative;
  background-color: var(--basic-light-gray);
  width: 1157px;
  height: 431px;
  margin: 0 auto;
  color: var(--basic-black);
  margin-bottom: 80px;
}
.slider-item {
  display: none;
  height: 100%;
}

.slider-item:nth-child(1) {
  background-image: url(../img/nerds-index-slide1\ 1.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.slider-item:nth-child(2) {
  background-image: url(../img/nerds-index-slide2\ 1.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.slider-item:nth-child(3) {
  background-image: url(../img/nerds-index-slide3\ 1.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
}
.slider-text {
  padding-top: 33px;
  width: 538px;
}
.slide-title {
  display: block;
  width: 538px;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-top: 45px;
}
.slider-description {
  width: 416px;
  color: #283136;
  padding: 0;
  padding-bottom: 38px;
  font-size: 16px;
  line-height: 24px;
  margin-top: 27px;
}
.main-slide {
  background-color: var(--basic-light-gray);
  width: 100%;
  position: relative;
}
.slider-control-dots {
  display: flex;
  justify-content: space-between;
  width: 88px;
}
.slider-control-dots {
  position: absolute;
  bottom: 96px;
  left: 630px;
  width: 100px;
  height: 18px;
  margin-left: -100px;
  text-align: center;
  z-index: 20;
}
.slider-dot {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 8px;
  background: #FFFFFF;
  border: 5px solid #FFFFFF;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}
.slider-dot::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #FFFFFF;
  border-radius: 50%;
  top: 2px;
  right: 2px;
}
.main-slide input[type=radio] {
  display: none;
}
#button-1:checked ~ .slider-control-dots .slider-dot[for="button-1"],
#button-2:checked ~ .slider-control-dots .slider-dot[for="button-2"],
#button-3:checked ~ .slider-control-dots .slider-dot[for="button-3"] {
  background: #C1C1C1;
}
#button-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}
#button-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}
#button-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}
/* products */

.products {
  margin-bottom: 80px;
  width: 1160px;
  margin: 0 auto;
}
.products-line {
  display: block;
  position: relative;
}
.products-line::after {
  content: "";
  bottom: -80px;
  position: absolute;
  width: 1158px;
  height: 2px;
  background-color: var(--basic-light-gray);
}
.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0 auto;
  margin-right: 60px;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}
.name-product {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 20px;
}
.products-description {
  color: var(--basic-dark-blue);
  margin-bottom: 32px;
  margin-top: 16px;
  margin-bottom: 47px;
}

/* button */
a {
  background-color: transparent;
}
.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.button-slider {
  width: 240px;
  padding: 17px 54px 15px 54px;
}
.button-web {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  width: 160px;
  height: 50px;
  padding: 17px 40px 15px 39px;
}
.button-applications {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-green);
  border: none;
  width: 160px;
  height: 50px;
  padding: 17px 40px 15px 39px;
}
.button-presentations {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-yellow);
  border: none;
  width: 160px;
  height: 50px;
  padding: 17px 40px 15px 39px;
}
.button:hover {
  background: #E74246;
  border-radius: 3px;
}
.button:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.button-web:hover {
  background: #E74246;
  border-radius: 3px;
}
.button-web:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
.button-applications:hover {
  background:#00BC6C;
  border-radius: 3px;
}
.button-applications:active {
  background: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
.button-presentations:hover {
  background: #EAB534;
  border-radius: 3px;
}
.button-presentations:active {
  background: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
.button-contacts {
  width: 219px;
  padding: 17px 44px 15px 44px;
  border-radius: 3px;
}
.button-contacts:hover {
  background: #E74246;
  border-radius: 3px;
}
.button-contacts:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 81px;
  height: 81px;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  color: inherit;
  border-radius: 50%;
}
.social-button:hover {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}
.social-button:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.socials:active {
  opacity: 0.3;
}
.button-close {
  position: absolute;
  font-size: 0;
  top: 92px;
  left: 849px;
  width: 21px;
  height: 21px;
  border: 0;
  background: none;
  background-image: url(../img/close-cross.svg);
  cursor: pointer;
}
.button-close:hover {
opacity: 0.3;
}
.button-close:active {
opacity: 0.1;
}
.button-popup {
  width: 259px;
  padding: 17px 83px 15px 83px;
  border-radius: 3px;
  height: 50px;
}


/* index-columns */

.index-columns {
  display: flex;
  justify-content: space-between;
  width: 1157px;
  margin: 0 auto;
}

/* aside */


.aside {
  max-width: 660px;
  margin-bottom: 73px;
  margin-top: 49px;
}
.aside-main {
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  padding-top: 37px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.aside-title {
  display: block;
  color: var(--basic-dark-blue);
  margin-top: 32px;
}
.aside-list {
  list-style: none;
  color: var(--basic-dark-blue);
  margin-top: 23px;
}
.aside-list li {
  padding-bottom: 25px;
  position: relative;
}
.aside-list li::before {
  content: "";
  top: 12px;
  left: -40px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}
.aside-description {
  color: var(--basic-dark-blue);
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

/* features */
.features {
  max-width: 360px;
  margin-top: 49px;
}

.features-main {
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 34px;
  padding-left: 5px;
}
.features-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  list-style: none;
}
.title-item {
  width: 100px;
  text-align: center;
}
.features-discription {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  color: var(--basic-dark-blue);
  line-height: 18px;
  list-style: none;
}
.item-description {
  width: 100px;
  text-align: center;
}

/* costumers */
.costumers {
  margin-top: 46px;
}
.costumers-list {
  list-style: none;
}
.costumers-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}
.img-button {
  opacity: 0.2;
}
.img-button:hover {
  opacity: 1;
}
.img-button:active {
  opacity: 0.1;
}
.costumers-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 43px 0px 32px;
  margin: 0 auto;
  margin-bottom: 35px;
}
.costumers-lines {
  display: block;
  position: relative;
  width: 1157px;
  margin: 0 auto;
}
.costumers-lines::after {
  content: "";
  bottom: -35px;
  position: absolute;
  width: 1157px;
  height: 2px;
  background-color: var(--basic-light-gray);
}
.costumers-lines::before {
  content: "";
  top: -46px;
  position: absolute;
  width: 1157px;
  height: 2px;
  background-color: var(--basic-light-gray);
}
.costumers-list li {
  position: relative;
}
.costumers-list li::after {
  content: "";
  display: block;
  width: 2px;
  height: 52px;
  background-color: var(--basic-light-gray);
  margin-left: 50px;
}
.costumers-list li:nth-child(4)::after {
  display: none;
}
/* footer */
.address {
  position: relative;
  height: 416px;
  margin-bottom: 75px;
  width: 1440px;
  margin: 0 auto;
}
.map {
  display: block;
  height: 416px;
  width: 1440px;
}
.address-block {
  position: relative;
  padding: 49px 39px 47px 50px;
}
.address-block {
  box-sizing: border-box;
  position: absolute;
  top: 54px;
  left: 140px;
  margin: 0 auto;
  background-color: var(--basic-white);
  width: 319px;
  height: 308px;
}
.map-point {
  position: absolute;
  top: 86px;
  right: 387px;
  width: 231px;
  height: 190px;
}
.contacts {
  margin-bottom: 68px;
  position: relative;
}
.title-contacts {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.address-contacts {
  display: block;
  width: 230px;
  color: var(--basic-dark-gray);
  line-height: 18px;
  padding-top: 5px;
}
.phone-contacts {
  color: var(--basic-dark-gray);
  line-height: 18px;
}
.phone {
  margin-bottom: 51.29px;
}
.promo-title {
  display: block;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  padding: 0;
  margin: 0;
}
.promo {
  display: block;
  padding: 0;
  padding-top: 10px;
  color: var(--basic-gray);
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 74px;
}
.main-footer {
  margin-top: 80px;
}
.catalog-footer {
  margin-top: 55px;
}
.map {
  display: block;
  position: relative;
  width: 100%;
  justify-self: center;
  margin-bottom: 71px;
}
.map::after {
  content: "";
  position: absolute;
  right: 387px;
  top: 86px;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker\ 1.png");
  z-index: 100;
}
.footer-socials-promo {
  display: flex;
  width: 1157px;
  margin: 0 auto;
}
.footer-socials ul {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.footer-promo {
  margin-left: 140px;
  margin-top: 5px;
  width: 860px;
}
/*popup*/
.popup {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-sizing: border-box;
  border-radius: 5px;
  width: 960px;
  height: 590px;
  background-color: var(--basic-white);
  box-shadow: -1px 12px 19px -5px var(--basic-black);
}
.active {
  display: block;
}
.footer-popup {
  padding-top: 80px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 99px;
}
.title-popup {
  position: relative;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
  margin-top: 20px;
}
.appointment-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 37px;
}
.appointment-item {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: bold;
  width: 360px;
}
.popup-input {
  display: inline-block;
  box-sizing: border-box;
  line-height: 18px;
  padding: 16px 14px 16px 16px;
  border-radius: 5px;
  width: 360px;
  height: 50px;
  color: #444444;
  opacity: 0.5;
  margin-top: 9px;
}
.popup-input:focus {
  color: #444444;
}

.letter {
  margin-top: 34px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: bold;
}
.letter-input {
  display: inline-block;
  box-sizing: border-box;
  line-height: 18px;
  padding-top: 16px;
  padding-left: 16px;
  width: 760px;
  height: 118px;
  color: #444444;
  opacity: 0.5;
  margin-top: 9px;
  margin-bottom: 47px;
}

.letter-input:focus {
  color: #444444;
}
.modal__input:invalid,
.modal__comment:invalid {
  box-shadow: none;
  color: #E74246;
  border: 2px solid #E74246;
}
/* catalog */

.catalog-title {
  display: grid;
  background-color: var(--basic-light-gray);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  width: 100%;
  height: 100%;
}

.name-title {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  text-align: center;
}
.name-catalog {
  padding-top: 42px;
  font-size: 55px;
  padding-bottom: 70px;
}

.page-catalog {
  display: grid;
  width: 1160px;
  grid-template-columns: 260px 1fr;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 10px;
}
/*filter*/

.filter-cost {
  width: 260px;
  margin-top: 15px;
}
.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}
/*ползуонок */
.range-filter {
  width: 260px;
}
.filter-item span {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.range-controls {
  position: relative;
  height: 41px;
  background-color: #EEEEEE;
  padding-top: 42px;
  margin-bottom: 14px;
  border-radius: 3px;
  padding-right: 22px;
  padding-left: 33px;
}
.range-controls .scale {
  height: 2px;
  background: #D7DCDF;
}
.range-controls .bar {
  width: 138px;
  height: 2px;
  background: #00CA74;
}
.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #FFFFFF;
  background-color: #ABABAB;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
}
.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 3px;
  background: #EEEEEE;
}
.price-controls {
  margin-bottom: 54px;
  font-size: 0;
}
.filter-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}
.filter-price-title {
  margin-bottom: 45px;
}

.radio-title {
  padding-bottom: 10px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.cost-list {
  color: var(--basic-black);
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.checkbox-title {
  display: inline-block;
  margin-top: 33px;
  padding-bottom: 10px;
}
.cost-item {
  color: var(--basic-dark-blue);
  font-size: 16px;
  line-height: 30px;
  padding-left: 36px;
  padding-bottom: 10px;
}
.cost-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox:hover + label {
  color: #283136;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -36px;
  width: 25px;
  height: 23px;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio {
  height: 99px;
}
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -1;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


/* СОРТИРОВКА */
.sort-catalog {
  margin-left: 140px;
}
.sort-name {
  font-size: 18px;
  line-height: 30px;
  width: 360px;
  margin-right: 266px;
}
.sort-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  list-style: none;
  color: var(--basic-black);
  list-style: none;
  margin-top: 15px;
}
.sort-name {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-right: 15px;
}
.sort-item {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin-left: 22px;
}
.sort-item-active a {
  color: #000000;
  opacity: 1;
}
.sort-toggle-list {
  display: inline-block;
  margin-left: 38px;
}
.sort-toggle {
  display: inline-block;
  cursor: pointer;
}
.sort-toggle-down {
margin-right: 18px;
width: 11px;
height: 10px;
background-image: url("../img/icon-down-dir.svg");
}
.sort-toggle-up {
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
}
/* ПРОЕКТЫ */
.projects {
  margin-top: 15px;
  margin-bottom: 0;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-top: 58px;
}
.project-item {
  position: relative;
  width: 358px;
  margin-left: 140px;
  margin-right: 40px;
  margin-bottom: 37px;
}
.project-item:nth-child(2n) {
  margin-right: 0;
  margin-left: 0;
}
.project-item:hover {
  box-shadow: 0px 7px 9px -3px #CFCFCF;
}
.project-item:hover .popup-catalog {
  display: block;
}
.project-item:hover::before {
  background-image: url("../img/browser.png");
  opacity: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.catalog-item-image {
  width: 358px;
  height: 578px;
}
.project-list li {
  position: relative;
}
.project-list li::before {
  content: "";
  position: absolute;
  top: -24px;
  left: -1px;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.png");
  opacity: 0.12;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.project-item:hover .popup-catalog{
  position: absolute;
  box-sizing: border-box;
  width: 360px;
  height: 231px;
  background-color: #EEEEEE;
  z-index: 100;
  bottom: 17px;
  display: block;
}
.cost-button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background: #EEEEEE;
  border-radius: 3px;
  border: none;
  padding: 17px 89px 15px 88px;
  margin-top: 35px;
}
.cost-button:hover {
  background: #DFDFDF;
  border-radius: 3px;
}
.cost-button:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}
.popup-catalog {
  position: absolute;
  box-sizing: border-box;
  width: 360px;
  height: 231px;
  background-color: #EEEEEE;
  z-index: 100;
  bottom: 0px;
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.popup-catalog-rectangle {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-align: center;
  width: 255px;
}
.name-popup-catalog {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  padding: 15px 0 0 0;
  text-transform: uppercase;
  color: var(--basic-black);
}
.description-popup-catalog {
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #666666;
  margin-bottom: 36px;
}
.button-popup-catalog {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  width: 200px;
  padding: 11px 65px 21px 65px;
  margin-left: 30px;
  border-radius: 5px;
}
.button-popup-catalog:hover {
  background: #E74246;
  border-radius: 3px;
}
.button-popup-catalog:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
.button-sort {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  text-decoration: none;
}
.button-sort:hover {
  opacity: 0.6;
}
.button-sort:active {
  color: var(--basic-black);
}

.page-list {
  display: grid;
  width:760px;
  column-gap: 11px;
  list-style: none;
  margin-left: 140px;
  padding: 0;
  grid-template-columns: min-content min-content min-content min-content;
}
.button-page {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background: #EEEEEE;
  border-radius: 3px;
  border: none;
  padding: 17px 20px 15px 20px;
  text-decoration: none;
}
.button-page:hover {
  background: #DFDFDF;
  border-radius: 3px;
}
.button-page:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}
.button-page-next {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background: #EEEEEE;
  border-radius: 3px;
  border: none;
  padding: 17px 77px 15px 78px;
  text-decoration: none;
}
.button-page-next:hover {
  background: #DFDFDF;
  border-radius: 3px;
}
.button-page-next:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}
.active-page {
  background: rgba(0, 0, 0, 0.0001);
  border: 3px solid #DBDBDB;
  border-radius: 3px;
  padding: 14px 17px 12px 17px;
}
/* grid */

.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
