/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark-blue: #283136;
  --basic-light-gray: #EEEEEE;
  --basic-dark-gray: #666666;
  --basic-gray: #444444;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-white: #FFFFFF;
}

/* Global */

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}
.page a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: transparent;
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-navigation-logo {
  width: 159.87px;
  height: 65.02px;
}
.main-navigation-wrapper .site-navigation-cart {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 437px;
  margin: 0;
  padding: 0;
}
.main-cart {
  max-width: 120px;
}
.main-cart .cart {
  padding-left: 25px;
}

/* cart */

.site-navigation a,
.cart a {
  color: var(--basic-black);
}

/* header background */

.main-header {
  width: 100%;
  background-color: var(--basic-light-gray);
}
.slider {
  display: grid;
  background-color: var(--basic-light-gray);
  width: 1157px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.main-slide {
  background-color: var(--basic-light-gray);
  width: 100%;
}
.slider-img {
  justify-self: right;
}

/* products */

.products {
  margin-bottom: 80px;
  width: 1157px;
  margin: 0 auto;
}
.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}
.products-item h4 {
  font-size: 24px;
  line-height: 30px;
}
.products-description {
  color: var(--basic-dark-blue);
  margin-bottom: 32px;
  margin-top: 16px;
}

/* button */

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
}
.button-slider {
  width: 240px;
  padding: 17px 54px 15px 54px;
}
.button-web {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  width: 160px;
  padding: 17px 40px 15px 39px;
}
.button-applications {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-green);
  border: none;
  width: 160px;
  padding: 17px 40px 15px 39px;
}
.button-presentations {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-yellow);
  border: none;
  width: 160px;
  padding: 17px 40px 15px 39px;
}
.button:hover {
  background: #E74246;
  border-radius: 3px;
}
.button:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
.button-web:hover {
  background: #E74246;
  border-radius: 3px;
}
.button-web:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
.button-applications:hover {
  background:#00BC6C;
  border-radius: 3px;
}
.button-applications:active {
  background: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
.button-presentations:hover {
  background: #EAB534;
  border-radius: 3px;
}
.button-presentations:active {
  background: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}
.button-contacts {
  width: 219px;
  padding: 17px 44px 15px 44px;
}

/* index-columns */

.index-columns {
  display: flex;
  justify-content: space-between;
  width: 1157px;
  margin: 0 auto;
}

/* aside */


.aside {
  max-width: 660px;
  margin-bottom: 73px;
  margin-top: 73px;
}
.aside-main {
  color: var(--basic-black);
  font-size: 45px;
  line-height: 45px;
}
.aside-title {
  color: var(--basic-dark-blue);
  margin-top: 32px;
}
.aside-list {
  list-style: none;
  color: var(--basic-dark-blue);
  margin-left: 32px;
  margin-top: 23px;
}
.aside-description {
  color: var(--basic-dark-blue);
  text-transform: uppercase;
  margin-top: 40px;
}

/* features */
.features {
  max-width: 360px;
  margin-top: 39px;
}

.features-main {
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 37px;
  margin-bottom: 34px;
}
.features-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
  list-style: none;
}
.title-item {
  width: 100px;
  text-align: center;
}
.features-discription {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  color: var(--basic-dark-blue);
  line-height: 18px;
  list-style: none;
}
.item-description {
  width: 100px;
  text-align: center;
}

/* costumers */
.costumers {
  margin-top: 46px;
}
.costumers-list {
  list-style: none;
}
.costumers-logo {
  opacity: 0.2;
}
.costumers-list {
  display: grid;
  width: 1157px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* footer */

.title-contacts {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.address-contacts {
  color: var(--basic-dark-gray);
  line-height: 18px;
}
.phone-contacts {
  color: var(--basic-dark-gray);
  line-height: 18px;
}
.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 11px;
  list-style: none;
}
.promo-title {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}
.promo {
  color: var(--basic-gray);
  font-size: 16px;
  line-height: 22px;
}
.main-footer {
  margin-top: 80px;
}

.map {
  width: 100%;
  justify-self: center;
  margin-bottom: 71px;
}
.footer-socials-promo {
  display: flex;
  width: 1157px;
  margin: 0 auto;
}
.footer-socials {
  width: 260px;
}
.footer-promo {
  margin-left: 140px;
  margin-top: 2px;
  width: 860px;
}

/* catalog */

.catalog-title {
  display: grid;
  background-color: var(--basic-light-gray);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  width: 100%;
  height: 100%;
}

.name-title {
  display: grid;
  width: 1157px;
  margin: 0 auto;
}

.page-catalog {
  display: grid;
  width: 1157px;
  grid-template-columns: 260px 1fr;
  margin: 0 auto;
  padding: 0 10px;
}

.cost-list {
  color: var(--basic-black);
  list-style: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;

}
.cost-item {
  color: var(--basic-dark-blue);
  font-size: 16px;
  line-height: 19px;
}
.sort {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 760px;
  margin: 0;
  padding: 0;

}
.sort-list {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
  color: var(--basic-black);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 21px auto;
  padding: 0;
}
.sort-item {
  list-style: none;
  text-transform: uppercase;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
}
.project-list {
  display: grid;
  width:760px;
  column-gap: 42px;
  margin: 0 auto;
  grid-template-columns: 358px 358px;
}
.page-list {
  display: grid;
  width:760px;
  column-gap: 11px;
  margin: 55px auto;
  grid-template-columns: min-content min-content min-content min-content;
}
.cost-button {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background: #EEEEEE;
  border-radius: 3px;
  border: none;
  padding: 17px 89px 15px 88px;
}
.cost-button:hover {
  background: #DFDFDF;
  border-radius: 3px;
}
.cost-button:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}

.button-sort {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
}
.button-sort:hover {
  opacity: 0.6;
}
.button-sort:active {
  color: var(--basic-black);
}

.button-page {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background: #EEEEEE;
  border-radius: 3px;
  border: none;
  padding: 17px 20px 15px 20px;
}
.button-page:hover {
  background: #DFDFDF;
  border-radius: 3px;
}
.button-page:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}
.button-page-next {
  font: inherit;
  text-align: center;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  background: #EEEEEE;
  border-radius: 3px;
  border: none;
  padding: 17px 77px 15px 78px;
}
.button-page-next:hover {
  background: #DFDFDF;
  border-radius: 3px;
}
.button-page-next:active {
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
  opacity: 0.3;
}

/* grid */

.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}
